body {
    background-color: #f5f5f5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .todo {
    max-width: 300px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .todo__items {
    padding-left: 0;
    margin: 0;
  }
  
  .todo__item {
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
    display: flex;
  }
  
  .todo__delete {
    margin-left: auto;
    background-color: transparent;
    border: none;
  }
  .todo__delete:hover {
    color: red;
  }
  .todo__show-item{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
  }
  .todo__show-item:focus {
    color: red;
    border: 1px solid blue;
  }
  .todo__show-item:hover {
    border-color: red;
  }
  
  .todo__footer {
    text-align: center;
    padding: 10px;
  }
  .todo__input:hover {
    border-color: red;
  }
  .todo__input {
    border: 1px solid transparent;
    padding: 15px;
    font-size: 20px;
    flex-grow: 1;
    background-color: transparent;
    width:100%;
  }
  .todo__form {
    display: flex;
    box-shadow: inset 0em -2px 1px rgba(0, 0, 0, 0.03);
  }
  .todo__submit:hover {
    border-color: red;
  }
  .todo__submit {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
  }
  .todo__checkbox {
    display: none;
  }
  .todo__checkbox:checked + label {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E");
  }
  .todo__label {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
    background-position: 0;
    background-repeat: no-repeat;
    padding: 15px 15px 15px 60px;
    display: block;
  }
  